<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>testservlet</display-name>
   <servlet>
     <servlet-name>helloWorld</servlet-name>
     <servlet-class>testservlet.MyServlet</servlet-class>
   </servlet>
   <servlet-mapping> 
     <servlet-name>helloWorld</servlet-name>
     <url-pattern>/hello</url-pattern>
   </servlet-mapping>
   <servlet>
    <servlet-name>myRegist</servlet-name>
    <servlet-class>testservlet.RegistServlet</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>myRegist</servlet-name>
     <url-pattern>/regist</url-pattern>
   </servlet-mapping>
   
</web-app>